{#<div class="social-media-links">#}
    {#{% for item in socialMediaLinks %}#}
        {#<a href="{{ item.link }}" target="_blank" class="social-icon si-colored si-{{ item.media }}">#}
            {#<i class="icon-{{ item.media }}"></i>#}
            {#<i class="icon-{{ item.media }}"></i>#}
        {#</a>#}
    {#{% endfor %}#}
{#</div>#}

<div class="social-media-links">
    <a href="https://www.bbb.org/sacramento/business-reviews/dentists/david-f-hardy-dds-inc-in-sonora-ca-47044367/#bbblogo" target="_blank">
        <img src="/assets/bbb.png" class="custom-icon-bbb" alt="social media link for bbb">
    </a>
{% for item in socialMediaLinks %}
<a href="{{ item.link }}" target="_blank" class="social-icon si-colored si-{{ item.media }}">
            <img src="/assets/{{ item.media }}.png" class="custom-icon-{{ item.media }}" alt="social media link for {{ item.media }}">
        </a>
    {% endfor %}
</div>